body {
  background-image: url("background.jpeg");
}

#App-title {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 150px;
  color: #c9ddff;
    text-align: center;
}

#txtcont {
  text-align: center;
  font-family: 'Gloria Hallelujah';
  color: #c9ddff;
}

.start {
    text-align: center;
}

#txt {
  font-size: 30px;
}

#startButton {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 5px 1px 3px #757575;
  -webkit-box-shadow: 8px 1px 3px #9c9a9c;
  -moz-box-shadow: 8px 1px 3px #9c9a9c;
  box-shadow: 8px 1px 3px #9c9a9c;
  font-family: Arial;
  color: #ffffff;
  font-size: 60px;
  background: #26b357;
  padding: 10px 70px;
  text-decoration: none;
}

#startButton:hover {
  background: #208b46;
  text-decoration: none;
  cursor: pointer;
}