<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Matching Game</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
    </script>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link rel="stylesheet" href="memory.css">
</head>
<body>
<div class="container">
    <header>
        <h1>Memolingo</h1>
        <section class="score-panel">
            <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Broj poteza: </span><span class="moves">0</span>
            <div class="restart">
                RESTART <i class="fa fa-repeat"></i>
            </div>
            <span class="timer">00:00:00</span>
        </section>
    </header>
    <div class="modal">
        <div class="modal-content">
            <h2 class="modal-title">Čestitamo!</h2>
            <p class="modal-message"></p>
            <div class="modal-element">
                <span>Vrijeme: </span>
            </div>
            <div class="modal-element">
                <span>Broj poteza : </span>
            </div>
            <div class="modal-element">
                <span> Zvjezdice: </span>
            </div>
            <div class="again">
                <a href="/memory">Pokušaj ponovno</a>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    // List of all cards icons
    var received = <%-JSON.stringify(data) %>;
    var Cards = [];
    received.forEach(function (card) {
        var c = {wordcro: card.wordcro, wordger:null, pic: card.picture};
        var g = {wordcro: null, wordger: card.wordger, pic: card.picture};
        Cards.push(c);
        Cards.push(g);
    })
    console.log(Cards);
    // var Cards = ["fa fa-diamond","fa fa-paper-plane-o","fa fa-anchor","fa fa-bolt","fa fa-cube","fa fa-anchor","fa fa-leaf","fa fa-bicycle","fa fa-diamond","fa fa-bomb","fa fa-leaf","fa fa-bomb","fa fa-bolt","fa fa-bicycle","fa fa-paper-plane-o","fa fa-cube"];
    // An empty array where values of open cards are pushed to compare.
    var OpenCards= [];
    //An empty array of cards where shuffled cards are stored.
    var shuffleCards=[];
    var tilesFlipped=0;
    var numOfmoves=0;
    // Function to shuffle an array of cards.
    function shuffle(array) {
        var currentIndex = array.length, temporaryValue, randomIndex;
        while (currentIndex !== 0) {
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex -= 1;
            temporaryValue = array[currentIndex];
            array[currentIndex] = array[randomIndex];
            array[randomIndex] = temporaryValue;
        }
        return array;
    }
    // shuffle the cards array
    shuffleCards = shuffle(Cards);
    console.log(shuffleCards);
    // Timer code start
    var clearTime;
    var seconds = 0, minutes = 0, hours = 0;
    var clearState;
    var secs, mins, gethours ;
    //Timer start function
    function startWatch( ) {
        /* check if seconds is equal to 60 and add a +1 to minutes, and set seconds to 0 */
        if ( seconds === 60 ) { seconds = 0; minutes = minutes + 1; }
        /* you use the javascript tenary operator to format how the minutes should look and add 0 to minutes if less than 10 */
        mins = ( minutes < 10 ) ? ( '0' + minutes + ': ' ) : ( minutes + ': ' );
        /* check if minutes is equal to 60 and add a +1 to hours set minutes to 0 */
        if ( minutes === 60 ) { minutes = 0; hours = hours + 1; }
        /* you use the javascript tenary operator to format how the hours should look and add 0 to hours if less than 10 */
        gethours = ( hours < 10 ) ? ( '0' + hours + ': ' ) : ( hours + ': ' );
        secs = ( seconds < 10 ) ? ( '0' + seconds ) : ( seconds );
        // display the stopwatch
        var time =gethours + mins + secs;
        $('.container').find('.timer').html(time);
        /* call the seconds counter after displaying the stop watch and increment seconds by +1 to keep it counting */
        seconds++;
        /* call the setTimeout( ) to keep the timer alive ! */
        clearTime = setTimeout( "startWatch( )", 1000 ); }
    // Function used to start the timer
    function startTime( ) {
        /* check if seconds, minutes, and hours are equal to zero and start the timer*/
        if ( seconds === 0 && minutes === 0 && hours === 0 ) {
            startWatch( );
        } }

    // function to stop the time
    function stopTime( ) {
        /* check if seconds, minutes and hours are not equal to 0 */
        if ( seconds !== 0 || minutes !== 0 || hours !== 0 ) {
            /* display the full time before reseting the stop watch */
            var time = gethours + mins + secs;
            $('.container').find('.timer').html(time);
            /*Add the time,moves and star rating to the congratulation modal only after game is complete*/
            var StarsModalElem=$('.modal-element').eq(2);
            var MovesModalElem=$('.modal-element').eq(1);
            var TimerModalElem=$('.modal-element').eq(0);
            $('.stars').clone().appendTo(StarsModalElem);
            $('.moves').clone().appendTo(MovesModalElem);
            $('.timer').clone().appendTo(TimerModalElem);
            /* clear the stop watch using the setTimeout( ) return value 'clearTime' as ID */
            clearTimeout( clearTime ); }}
    //Timer code end

    // HTML elements creation for deck and cards
    $('.container').append('<ul class="deck"></ul>');
    for (var i = 0;i < Cards.length;i++) {
        $('.deck').prepend('<li class="card"></li>');

    }
    $('.card').prepend('<h6></h6>');
    $('.card').prepend('<img src="" style="" />');

    var i = 0;
    shuffleCards.forEach(function (cardData) {
        if ($('.card').eq(i).find('img').attr('src') == "") {
            $('.card').eq(i).find('img').attr('src', cardData.pic);
            if (cardData.wordcro) {
                $('.card').eq(i).find('h6')[0].innerHTML = cardData.wordcro;
            } else {
                $('.card').eq(i).find('h6')[0].innerHTML = cardData.wordger;
            }
            i++;
        }
    })

    // Click event to restart the game
    $('.restart').click(function(){
        location.reload();
    });

    //Event listener for flipping the cards when clicked on
    $('.deck').on('click','.card',function (event) {
        /*Start the timer when a card is clicked*/
        startTime();
        /*Essential condition for flipping a card i.e. a card may be flipped only if class='card' is present which is true always and only one other card is open.*/
        if ($(this).attr('class')==='card' && OpenCards.length<2){
            /*CLass name of a open card is pushed to opencards array when only one card is opened.*/
            if (OpenCards.length===0) {
                $(this).toggleClass('open');
                $(this).children()[0].style.visibility = "visible";
                OpenCards.push($(this).children().attr('src'));
            }
            /*If a card is open and next card is clicked */
            else if (OpenCards.length===1) {
                $(this).toggleClass('open');
                $(this).children()[0].style.visibility = "visible";
                OpenCards.push($(this).children().attr('src'));
                /*Comparison of two open cards-If matched */
                if (OpenCards[0]=== OpenCards[1]) {
                    $('.card').filter($('.open')).toggleClass('open match');
                    //Increment the number of tilees flipped and number of moves if a pair is made.
                    tilesFlipped=tilesFlipped + 2;
                    numOfmoves=numOfmoves+1;
                    $('.moves').text(numOfmoves);
                    //Empty the array for comparison of next two cards.
                    OpenCards= [];
                }
                else {
                    // To avoid flipping of more than two cards at a time and used to flip back cards that are not matching
                    function flipBack () {
                        document.getElementsByClassName('open')[0].getElementsByTagName('img')[0].style.visibility= "hidden";
                        document.getElementsByClassName('open')[1].getElementsByTagName('img')[0].style.visibility= "hidden";
                        console.log(document.getElementsByClassName('open')[0].getElementsByTagName('img'));
                        $('.card').filter($('.open')).toggleClass('open');
                        OpenCards = [];
                        numOfmoves=numOfmoves+1;
                        $('.moves').text(numOfmoves);
                    }
                    setTimeout(flipBack, 2000);
                }
            }
            // Star rating
            if (numOfmoves >16 && numOfmoves < 25) {
                var star3 =$('.stars').find('li').eq(2);
                star3.css('color','black');
            }
            if (numOfmoves > 25) {
                var star2 =$('.stars').find('li').eq(1);
                star2.css('color','black');
            }
            // After all tiles are matched reload the game
            if (tilesFlipped === Cards.length) {
                stopTime();
                $('.modal').css('display','block');
            }
        }
    });
</script>
</html>