html {
    box-sizing: border-box;
}

body {
    background-image: url("background.jpeg");
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    color: #c9ddff;
    font-size: 50px;
    text-align: center;
    margin: 0;
}

section {
    font-family: 'Gloria Hallelujah';
    color: #c9ddff;
    font-size: 20px;
    margin: 0 5px;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 50vw;
    min-height: 700px;
    background-color: rgba(255, 204, 188, 0.4);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 9vw;
    width: 9vw;
    background: #01579B;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    margin-bottom: 10px;
    text-align: center;
}

img {
    max-height: 65%;
    max-width: 90%;
    visibility: hidden;
    margin-top: 5px;
}

h6 {
    margin: 0;
    font-family: 'Gloria Hallelujah';
    color: #fffde7;
}

.deck .card.open {
    font-size: 27px;
    transform: rotateY(0);
    background: #03a9f4;
    cursor: default;
}


.deck .card.match {
    cursor: default;
    background: #00C853;
    font-size: 27px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 500px;
    margin-bottom: 10px;
}

.score-panel .stars,
.modal .stars
{
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: gold;
}

.score-panel .stars li,
.modal .stars li
{
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    margin: 0 10px 0 10px;
    display: inline-block;
    cursor: pointer;
}

.score-panel .timer {
    margin: 0 0 0 10px;
    display: inline-block;
}

/*Style for the popup modal*/

.modal {
    font-family: 'Gloria Hallelujah';
    color: #c9ddff;
    display: none;
    top : 0;
    right : 0;
    bottom : 0;
    left : 0;
    position: fixed;
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    max-width: 360px;
    padding : 40px;
    margin: 5em auto;
    border-radius: 10px;
    background-color: #f57c00;

}

.modal-title {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
}

.modal-element {
    text-align: center;
}

.modal-message {
    font-size: 2em;
    text-align: center;
}

.again {
    text-align: center;
    margin-top: 20px;
}

.again a {
    text-decoration: none;
    font-family: 'Gloria Hallelujah';
    color: #c9ddff;
    text-align: center;
}

/*Media queries*/

@media only screen and (max-width: 600px) {

    header {
        width: 100%;
        justify-content: space-around;
    }

    .score-panel {
        width: 100%;
        font-size: 14px;
    }

    .score-panel .timer {
        margin: 0 0 0 20px;
        display: inline-block;
    }
    .score-panel .restart {
        margin: 0 10px 0 10px;
    }

    .deck {
        width: 100%;
        justify-content: space-around;
        box-shadow: none;
    }

    .deck .card {
        width: 70px;
        height: 70px;

    }

    .deck .card.open {
        font-size: 25px;
    }

}

@media (max-width: 575.98px) {
    .deck {
        width: 95vw;
        min-height: 500px;
    }

    .deck .card {
        height: 17vw;
        width: 17vw;
    }

    .deck .card.open {
        font-size: 18px;
    }

    .deck .card.match {
        font-size: 18px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .deck {
        width: 90vw;
        min-height: 550px;
    }

    .deck .card {
        height: 16vw;
        width: 16vw;
    }

    .deck .card.open {
        font-size: 21px;
    }

    .deck .card.match {
        font-size: 21px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .deck {
        width: 80vw;
        min-height: 600px;
    }

    .deck .card {
        height: 14vw;
        width: 14vw;
    }

    .deck .card.open {
        font-size: 24px;
    }

    .deck .card.match {
        font-size: 24px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .deck {
        width: 80vw;
        min-height: 700px;
    }

    .deck .card {
        height: 14vw;
        width: 14vw;
    }
}